<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{static % 'css/index.css' %}">
    <link rel="stylesheet" href="{static % 'css/header.css' %}">
    <link rel="stylesheet" href="{static % 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <title>Restaurante Apollo - Squad 02</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{static % 'imagens/LOGO Apollo.png' %}" alt="Foto da logo">
        </div> 
        <nav>       
            <ul>
                <li><a href="{% url 'index.html' %}">Home</a></li>
                <li><a href="{% url 'blog.html' %}">Blog</a></li>
                <li><a href="{% url 'sobre_nos.html' %}">Sobre nós</a></li>
            </ul>           
        </nav>
        <div>
            <button class="abrir-modal" data-modal="reservaModal">Fazer reserva</button>
        </div>
    </header>

    <main id="main_home">
        <section id="secao_banner_home">
            <div class="texto_banner_home">
                <h1>Restaurante do <span id="apollo">Apollo</span></h1>
                <h2>Uma experiência gastronômica inesquecível</h2>
                <button class="abrir-modal" data-modal="reservaModal">Fazer reserva</button>
            </div>           
        </section>

        <dialog id="reservaModal" class="reserva">
            <button class="fechar-modal fechar-reserva" type="button">✕</button>
            <div>
                 <img src="{static % 'imagens/LOGO Apollo.png' %}" alt="Logo do Restaurante Apollo">
                <h2>Faça sua reserva</h2>
            </div>
            <form action="#">
                <div class="info_formulario">
                    <label for="idNome">Nome completo</label>
                    <input placeholder="Digite seu nome" name="nome" id="idNome">
                </div>
                <div class="info_formulario">
                    <label for="idData">Data</label>
                    <input type="date" name="data" id="idData">
                </div>
                <div class="info_formulario">
                    <label for="idHorario">Horário</label>
                    <input type="time" name="horario" id="idHorario">
                </div>
                <div class="info_formulario">
                    <label for="idPessoas">Quantidade de pessoas</label>
                    <select name="seletorPessoas" id="idPessoas">
                        <option value="" selected></option>
                        <option value="01P">Uma pessoa</option>
                        <option value="02P">Duas pessoas</option>
                        <option value="03P">Três pessoas</option>
                        <option value="04P">Quatro pessoas</option>
                        <option value="05P">Cinco pessoas</option>
                        <option value="06P">Seis pessoas</option>
                    </select>
                </div>
                <button type="submit" class="butao_reserva">CONFIRMAR RESERVA</button>
            </form> 
        </dialog>

        <section id="secao_destaques">
            <h1>Destaques</h1>
            <div id="div_destaques">
                <div id="div_destaques_chefs">
                    <img src="{static % 'imagens/chefs' %}" alt="Imagem de um chapéu de cozinheiro - Toque Blanche">
                    <h5>Chef's capacitados</h5>
                    <p>Nossa equipe de chefs especializados cria pratos únicos com técnicas refinadas.</p>
                </div>
                <div id="div_destaques_vantagens_local">
                    <img src="{static % 'imagens/vantagens.png' %}" alt="Imagem de uma garfo e uma faca cruzados">
                    <h5>Vantagens do local</h5>
                    <p>Bem localizado e altamente confotável, aconchegante para você a sua família.</p>
                </div>
                <div id="div_destaques_premiacoes">
                    <img src="{static % 'imagens/premios.png' %}" alt="Imagem de uma medalha">
                    <h5>Premiações</h5>
                    <p>Reconhecido por diversas revistas gastronômicas e críticos renomados.</p>
                </div>
                <div id="div_destaques_horarios">
                    <img src="{static % 'imagens/horarios.png' %}" alt="Imagem de um relógio">
                    <h5>Horários</h5>
                    <p>Aberto todos os dias com horários estendidos. De 13h ás 22h.</p>
                </div>
            </div>
        </section>

        <section id="secao_experiencia">
            <div id="div_venha_nos_conhecer_titulo_texto">
                <h3>Venha conhecer a gente</h3>
                <div id="div_venha_nos_conhecer_texto">
                    <p> <b>Aproveite a oportunidade!</b> </p>
                    <p>Utilize o nossos 20% de desconto para você ter sua melhor experiência </p>
                </div>
                <div id="div_experiencia">
                    <p>SUA MELHOR EXPERIÊNCIA GASTRONÔMICA</p>
                    <!-- ADICIONAR ESTRELAS -->
                </div>
            </div>
            <div id="div_secao_experiencia_fotos">
                <div>
                    <img src="{static % 'imagens/foto_direita_cima.png' %}" alt="Foto de um prato do Restaurante">
                    <img src="{static % 'imagens/foto_direita_baixo.png' %}" alt="Foto de um prato do Restaurante">
                </div>
                <img src="{static % 'imagens/foto_esquerda.png' %}" alt="Foto de um prato do Restaurante" id="foto_esquerda">
            </div>
        </section>

        <section id="nosso_espaco">
            <h1>Nosso Espaço</h1>
            <!-- Swiper -->
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{static % 'imagens/img1.png' %}" alt="Fotos do ambiente"></div>
                <div class="swiper-slide"><img src="{static % 'imagens/img2.png' %}" alt="Fotos do ambiente"></div>
                <div class="swiper-slide"><img src="{static % 'imagens/img3.png' %}" alt="Fotos do ambiente"></div>
                <div class="swiper-slide"><img src="{static % 'imagens/img4.png' %}" alt="Fotos do ambiente"></div>
              </div>
            </div>
        </section>
            
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
              var swiper = new Swiper(".mySwiper", {});
            </script>

    </main>
    <footer>
        <div id="footer_logo">
            <img src="{static % 'imagens/LOGO Apollo.png' %}" alt="Logo do Restaurante Apollo">
        </div>
        <div id="footer_completo">
            <div id="footer_contato">
                <p>Contato</p>
                <div id="footer_celular">
                    <img src="{static % 'imagens/Ícone Telefone.png' %}" alt="Imagem de um celular" width="20px" height="20px">
                    <p>(11) 92234-5678</p>
                </div>
                
                <div id="footer_email">
                    <img src="{static % 'imagens/ÍCONE Email.png' %}" alt="Imagem de uma carta">
                    <p>RestauranteApollo@gmail.com</p>
                </div>
                <div id="footer_endereco">
                    <img src="{static % 'imagens/Ícone localização.png' %}" alt="Imagem de uma ponteiro">
                    <p>Avenida Roberto Freire, 123 - Natal/RN</p>
                </div>
            </div>

            <div id="footer_horario">
                <p>Horário de Funcionamento</p>
                <div>
                    <p>Segunda a sexta: 13h - 22h</p>
                    <p>Sábado e domingo: 12h - 22h</p>
                    <p>Feriados: 12h - 22h</p>
                </div>
            </div>

            <div id="footer_redes_sociais">
                <p>Redes Sociais</p>
                <div id="icones">
                    <img src="{static % 'imagens/Ícone facebook.png' %}" alt="">
                    <img src="{static % 'imagens/Ícone instagram.png' %}" alt="">
                    <img src="{static % 'imagens/Ícone Twitter.png' %}" alt="">
                </div>
                    
            </div>
            <img src="imagens/loc.png" alt="Foto de mapa">
        </div>
        <hr class="linha_curta">
        <div class="EJECT">
            <p class="EJECT_texto">MISSÃO EJECT</p>
            <img src="imagens/LOGO EJECT.png" alt="">
        </div>
    </footer>

    <script src="{% static 'script/index.js' %}"></script>

</body>
</html>