@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    padding-left: 6em;
    padding-right: 6em;
    box-shadow: 0px 8px 10px -6px rgba(0,0,0,0.5);
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: black;
    position: relative;
    left: 19em;
}
nav li{
    color: black;
    font-size: medium;
    font-weight: 600;
}
nav a:hover{
    color: #E17100;
}
nav a{
    text-decoration: none;
    color: black;
}
.logo img{
    max-height: 50px;
    width: auto;
}
