@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Inter', sans-serif;
}

footer{
    background-color: #262626; 
    color: white;
    padding: 2em;
}
#footer_completo{
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}
#footer_contato{
    display: flex;
    flex-direction: column;
}
#footer_contato div{
    display: flex;
    align-items: center;
    gap: 10px;

}
#icones{
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

#footer_horario{
    display: flex;
    flex-direction: column;

}
footer p{
    font-weight: lighter;
}
#footer_logo{
    height: 100%;
    
}
#footer_logo img{
    margin-left: 5em;
    margin-bottom: 2em;
}
.linha_curta{
    margin: 20px auto;
}
.EJECT{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.EJECT_texto{
    font-weight: lighter;
}

@media (max-width: 768px) {

    #footer_completo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #footer_contato div {
        justify-content: center;
    }

    #footer_horario {
        align-items: center;
    }

    #icones {
        justify-content: center;
    }

    #footer_completo > img {
        max-width: 100%;
    }

    #footer_logo img {
        margin-left: auto;
        margin-right: auto;
    }
}
